body{
    font-size:2em;
    width: 80%;
    margin:auto;
}
h1{
    text-align: center;
}

img{
    margin: 30px;
    width:400px;
}

.img-front{
    float:right;
}
.img-back{
    float:left;

}

section{
    padding:50px;
    margin:20px;
    border:2px solid grey;
}